<% if @node %>
  <form action="/update" method="post">
    <h2><%= @node['name'] %></h2>
    <input type="hidden" id"nodename" name="nodename" value="<%= @node['name'] %>" />
    <table class="classes">
      <tr class="header"><th colspan="3">Classes</th></tr>
      <% even = true %>
      <% if @classes %>
        <% @classes.each do |classname, desc| %>
          <tr class="<%= even ? "even":"odd" %>">
            <td class="class"><%= classname %></td>
            <td class="class"><%= desc %></td>
            <td class="selected"><input type="checkbox" name="classes[]" value="<%= classname %>" checked></td>
          </tr>
          <% even = !even %>
        <% end %>
      <% end %>
      <% if @disabled %>
        <% @disabled.each do |classname, desc| %>
          <tr class="<%= even ? "even":"odd" %>">
            <td class="class"><%= classname %></td>
            <td class="class"><%= desc %></td>
            <td class="selected"><input type="checkbox" name="classes[]" value="<%= classname %>"></td>
          </tr>
          <% even = !even %>
        <% end %>
      <% end %>
    </table>
    <input type="submit" value="Update Node" />
  </form>
<% end %>

