<% if @nodes %>
  <table>
    <tr class="header"><th>UUID</th><th>Node Name</th><th>MAC Address</th></tr>
    <% even = true %>
    <% @nodes.each do |guid, data| %>
      <tr class="<%= even ? "even":"odd" %>">
        <td class="node"><a href="/node/<%= guid %>"><%= guid %></a></td>
        <td class="node"><a href="/node/<%= guid %>"><%= data['name'] %></a></td>
        <td class="node"><a href="/node/<%= guid %>"><%= data['macaddr'] %></a></td>
      </tr>
      <% even = !even %>
    <% end %>
  </table>
<% end %>
